/* styles*/
:root {
  --color-secondary: #ffffff;
  --color-main: #2e2f42;
  --color-reserve: #4d5ae5;
  --color-for-words: #434455;
}

p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "roboto";
  margin: 0px;
  display: block;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

.main-conteiner {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.word-web {
  color: var(--color-reserve);
}

.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  list-style-type: none;
  text-decoration: none;
  color: var(--color-main);
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link {
  color: var(--color-main);
  padding: 24px 0;
  position: relative;
  display: block;
}
.current:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: rgba(64, 75, 191, 1);
  display: block;
  border-radius: 2px;
}
.current {
  color: rgba(64, 75, 191, 1);
}

.navigation:first-child {
  gap: 76px;
}

.conteiner-navigation {
  display: flex;
  align-items: center;
}

.navigation:hover,
.navigation:focus,
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.word-studio {
  font-family: "Raleway";
  font-weight: 800;
  line-height: 1.33;
  text-decoration: none;
  color: var(--color-main);
}

.conteiner {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.contacts {
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-main);
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
  margin: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1.png);
  background-size: 1440, auto;
  background-position: center;
  padding-bottom: 188px;
  padding-top: 188px;
  background-repeat: no-repeat;
  background-size: cover;
  size: 1440px, 600px;
}

.main-conteiner {
  text-align: center;
}

.main-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--color-secondary);
  max-width: 496px;
  width: 507px;
  margin: 0 auto 48px;
}

.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-reserve);
  color: var(--color-secondary);
  border-radius: 4px;
  cursor: pointer;
  border-color: var(--color-reserve);
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button :hover,
.main-button :focus {
  background-color: #404bbf;
}

.list-of-features {
  font-weight: 500;
  font-size: 20px;
  color: var(--color-main);
  margin-bottom: 8px;
  margin-top: 32px;
}

.promo {
  color: var(--color-for-words);
  max-width: 256px;
}

.list-promo {
  list-style-type: none;
}

p {
  font-size: 16px;
}

.customers {
  text-align: center;
  display: flex;
  padding-bottom: 120px;
  padding-top: 120px;
}

.customers-text {
  font-weight: 700;
  font-size: 36px;
}

.customers-conteiner {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 88px;
  width: 168px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: rgba(142, 143, 153, 1);
  transition: color, border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-conteiner:hover,
.customers-conteiner:focus {
  border: 1px solid rgba(64, 75, 191, 1);
  color: rgba(64, 75, 191, 1);
}
.customers-ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
}

.strategy-list {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 25px;
  justify-content: center;
}

/* svg  */
.svg-conteiner {
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  height: 112px;
  width: 264px;
  border-radius: 4px;
  display: flex;
}

.svg-list {
  width: 64px;
  height: 64px;
}

.presentation-section {
  padding-top: 152px;
}

.second-section {
  padding-top: 159px;
  padding-bottom: 120px;
}

.what-doing-ct {
  display: flex;
  align-items: center;
}

.what-do {
  text-align: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
}

.what-are-we-doing {
  list-style-type: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-text {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 72px;
}

.our-names {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
}

.photo-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0px;
}

.developer-block {
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 32px;
}

.photos-developers {
  background-color: var(--color-secondary);
}

/* Social */
.social-icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.list-of-customers {
  fill: currentColor;
}

.social-svg {
  width: 16px;
  height: 16px;
}
.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-reserve);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/*  Social  */
footer {
  background-color: var(--color-main);
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0px;
}

.footer-text {
  color: #e7e9fc;
  text-decoration: none;
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  max-width: 264px;
  margin-top: 16px;
}

.word-studio-footer {
  color: var(--color-secondary);
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}

.button-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 85px;
}

.buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f4f4fd;
  color: var(--color-reserve);
  border-radius: 4px;
  cursor: pointer;
  border-color: #e7e9fc;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 16px 32px;
  gap: 10px;
  transition: background-color, color, text-decoration, box-shadow,
    text-underline-offset, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover,
.buttons:focus {
  background-color: var(--color-reserve);
  color: var(--color-secondary);
  text-decoration: underline var(--color-main);
  text-underline-offset: 6px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-main-section {
  padding-bottom: 120px;
  padding-top: 96px;
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name-app {
  font-weight: 500;
  font-size: 20px;
  color: var(--color-main);
}

.type-app {
  color: var(--color-for-words);
  padding-top: 8px;
}

.ikon-conteiner {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding-bottom: 32px;
  padding-top: 32px;
  padding-left: 16px;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
a {
  list-style-type: none;
  text-decoration: none;
}
h3 {
  color: var(--color-secondary);
  font-weight: 500;
  padding-bottom: 16px;
}
.svg-conteiner-footer {
  display: flex;
  gap: 10px;
}
.social-icons-footer {
  list-style-type: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-link-footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-item-footer {
  width: 40px;
  height: 40px;
}
.social-svg-footer {
  width: 24px;
  height: 24px;
}
.social-media-conteiner {
  margin-left: 120px;
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}
.conteiner-footer-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 500ms, visability 500ms;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 408px;
  max-height: 576px;
  height: 100%;
  background-color: #fcfcfc;
  transform: scale(1);
  transition: transform 500ms;
  padding: 72px 24px 24px;
}
.backdrop.is-hidden .modal {
  transform: scale(0);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: color, fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  color: #ffffff;
  fill: currentColor;
}
.icon-close {
  width: 8px;
  height: 8px;
}

.modal-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

label {
  display: block;
  letter-spacing: 0.04em;
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-top: 8px;
}
label:first-child {
  margin-top: 16px;
}
.user-input {
  border: 1px solid #2e2f42;
  border-radius: 4px;
  height: 40px;
  width: 360px;
  opacity: 0.2;
  padding-left: 38px;
}
.user-input:last-child {
  width: 360px;
}
.svg-conteiner-modal {
  position: relative;
}
.svg-person {
  position: absolute;
  height: 18px;
  width: 18px;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.svg-phone {
  position: absolute;
  height: 24px;
  width: 18px;
  left: 16px;
  top: 50%;
  transform: translateY(-15%);
}

.svg-email {
  position: absolute;
  height: 24px;
  width: 18px;
  left: 16px;
  top: 50%;
  transform: translateY(-15%);
}
.user-comment {
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  height: 120px;
  width: 360px;
  padding-left: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.2;
  
}

.Privacy-Policy-conteiner {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}
.Privacy-Policy {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  text-align: center;
}
.policy-text{
  color: rgba(77, 90, 229, 1);
  text-decoration: underline;
}
.checkbox {
  margin: 0;
}
.privacy-policy-button {
  margin-left: 95px;
  margin-top: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-reserve);
  color: var(--color-secondary);
  border-radius: 4px;
  cursor: pointer;
  border-color: var(--color-reserve);
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 169px;
  height: 56px;
}

/* technology-deskripion */
.technology-image {
  position: relative;
  overflow: hidden;
}

.technology-deskripion {
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 250ms;
}
.portfolio-link:hover .technology-deskripion {
  transform: translateY(0);
}

.technology-deskripion-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 40px;
  padding-left: 32px;
  padding-bottom: 284px;
}
