/* styles*/
:root {
  --color-secondary: #ffffff;
  --color-main: #2e2f42;
  --color-reserve: #4d5ae5;
  --color-for-words: #434455;
}
p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
body {
  font-family: "roboto";
  margin: 0px;
  display: block;
}
header {
  border-bottom: 1px solid #e7e9fc;
}
.main-conteiner {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.word-web {
  color: var(--color-reserve);
}
.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  list-style-type: none;
  text-decoration: none;
  color: var(--color-main);
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
  padding: 0;
}

.navigation:first-child {
  gap: 76px;
}
.conteiner-navigation {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 24px;
}

.navigation:hover,
.navigation:focus,
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
.word-studio {
  font-family: "Raleway";
  font-weight: 800;
  line-height: 1.33;
  text-decoration: none;
  color: var(--color-main);
}
.conteiner {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.contacts {
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-main);
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
  margin: 0;
}

.main-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office\ 1.png);
  background-size: 1440, auto;
  background-position: center;
  padding-bottom: 188px;
  padding-top: 188px;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-conteiner {
  text-align: center;
}
.main-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--color-secondary);
  max-width: 496px;
  width: 507px;
  margin: 0 auto 48px;
}
button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-reserve);
  color: var(--color-secondary);
  border-radius: 4px;
  cursor: pointer;
  border-color: var(--color-reserve);
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
}
button:hover,
button:focus {
  background-color: #404bbf;
}

.list-of-features {
  font-weight: 500;
  font-size: 20px;
  color: var(--color-main);
  margin-bottom: 8px;
  margin-top: 32px;
}
.promo {
  color: var(--color-for-words);
  max-width: 256px;
}
.list-promo {
  list-style-type: none;
}
p {
  font-size: 16px;
}

.strategy-list {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 25px;
}
.presentation-section {
  padding-top: 152px;
}
.second-section {
  padding-top: 159px;
  padding-bottom: 120px;
}
.what-doing-ct {
  display: flex;
  align-items: center;
}
.what-do {
  text-align: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
}
.what-are-we-doing {
  list-style-type: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-text {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 72px;
}
.our-names {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
}
.photo-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0px;
}
.developer-block {
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  padding-bottom: 32px;
}
.photos-developers {
  background-color: var(--color-secondary);
}
footer {
  background-color: var(--color-main);
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0px;
}
.footer-text {
  color: #e7e9fc;
  text-decoration: none;
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  max-width: 264px;
  margin-top: 16px;
}
.word-studio-footer {
  color: var(--color-secondary);
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}
.button-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 85px;
}
.buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f4f4fd;
  color: var(--color-reserve);
  border-radius: 4px;
  cursor: pointer;
  border-color: #e7e9fc;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.buttons:hover,
.buttons:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-reserve);
  color: var(--color-secondary);
  border-radius: 4px;
  cursor: pointer;
  text-decoration: underline var(--color-main);
  text-underline-offset: 6px;
}
.portfolio-main-section {
  padding-bottom: 120px;
  padding-top: 96px;
}

.name-app {
  font-weight: 500;
  font-size: 20px;
  color: var(--color-main);
}
.type-app {
  color: var(--color-for-words);
  padding-top: 8px;
}
.ikon-conteiner {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding-bottom: 32px;
  padding-top: 32px;
  padding-left: 16px;
}

a {
  list-style-type: none;
  text-decoration: none;
}

/* svg  */
.svg-conteiner {
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  height: 112px;
  width: 264px;
  border-radius: 4px;
}
